<% if @quotation.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@quotation.errors.count, "error") %> impidieron que se generara la cotizaci&oacute;n
      </h2>
      <ul>
        <% @quotation.errors.full_messages.each do |msg| %>
          <li class="text-warning"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<table class="table table-hover table-responsive" id="tablaCotizacion">
  <thead>
    <tr>
      <th class="border-0" colspan="4"><h1 class="text-center">Cotizaci&oacute;n</h1></th>
    </tr>
    <tr class="text-primary">
      <th>Tipo Proyecto</th>
      <th>Presupuesto</th>
      <th>Ancho</th>
      <th>Largo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @quotation.name %></td>
      <td><%= @quotation.budget %></td>
      <td><%= @quotation.floor_width %></td>
      <td><%= @quotation.floor_length %></td>
    </tr>
  </tbody>
</table>

<h2>Servicios de instalaci&oacute;n</h2>

<table class="table table-hover table-responsive" id="tablaServicios">
  <thead>
    <tr class="text-primary">
      <th>Id</th>
      <th>Nombre</th>
      <th>Descripci&oacute;n</th>
      <th>Costo</th>
    </tr>
  </thead>
  <tbody>
<% @quotation.activities.each do |activity| %>
<tr>
  <td><%= activity.id %></td>

  <td>
    <%= activity.name %>
  </td>

  <td>
    <%= activity.activity_type.name %>
  </td>

  <td>
    <%= activity.totalValue(@quotation.totalMeters)%>
  </td>
</tr>
</tbody>
<% end %>
</table>
