<h1>Listing quotations</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Width</th>
    <th>length</th>
    <th>Client_id</th>
    <th>Adviser_id</th>
  </tr>

  <% @quotations.each do |quotation| %>
    <tr>
      <td><%= quotation.id %></td>
      <td><%= quotation.name %></td>
      <td><%= quotation.width %></td>
      <td><%= quotation.length %></td>
      <td><%= quotation.client_id %></td>
      <td><%= quotation.adviser_id %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', new_quotation_path %>
