<p>
  <strong>Proyecto:</strong>
  <%= @quotation.name %>
</p>

<p>
  <strong>Id:</strong>
  <%= @quotation.id %>
</p>

<p>
  <strong>Ancho:</strong>
  <%= @quotation.width %>
</p>

<p>
  <strong>Largo:</strong>
  <%= @quotation.length %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @quotation.client_id%>
</p>

<%= link_to 'Back', root_path %>
