<div class="modal fade bd-example-modal-lg" id="modalProductos" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <span><%= image_tag('LogoCorona.png', class: 'rounded img-fluid', alt: 'Logo Corona') %></span>
        <h5 class="modal-title text-primary text-center" id="modalTitleProductos">Elementos seleccionados para cotizaci&oacute;n</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <br>
      <div class="modal-body">
        <div class="row" id="containerProductos">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade bd-example-modal-lg" id="modalDetalles" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <span><%= image_tag('LogoCorona.png', class: 'rounded img-fluid', alt: 'Logo Corona') %></span>
                <h5 class="modal-title text-primary text-center" id="modalTitleDetalles">Detalles Servicio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <br>
              <div class="modal-body">
                <div class="row m-x-auto" id="containerDetalles">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="modalDatosUsuario" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header border-primary">
                <span><%= image_tag('LogoCorona.png', class: 'rounded img-fluid', alt: 'Logo Corona') %></span>
                <h5 class="modal-title text-primary text-center" id="modalTitleUsuario">Datos Del Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <br>
              <div class="modal-body">
                <div class="row" id="containerDatosUsuario">

                </div>
              </div>
                </div>
              </div>
            </div>
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Corona', root_path%></li>
    <li class="breadcrumb-item active" aria-current="page">Productos</li>
  </ol>
</nav>
  <div class="container">
    <div class="row justify-content-center" id="containerViewProducts">
      <div class="card border-primary w-100" >
        <div class="card-text">
  <%= form_tag '/findProductsById', remote: true, id:"formProductosCotizacion", class: "form-horizontal form-inline my-2 my-lg-0" do%>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Seleccionar</th>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripci&oacute;n</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
  <tbody>
     <% @products.each do |product| %>
    <tr>
      <td>
        <%= check_box_tag "products[id][]", product.id, false, class: "form-check-input col"%>
      </td>
      <td ><%= image_tag(product.image, class: 'rounded mx-auto d-block', alt: 'proyecto base', 'data-toggle':"popover", title: product.name, 'data-content': product.description, style: "width: 200px; height: 200px;") %></td>
      <td ><%= product.name %></td>
      <td ><%= product.description %></td>
      <td ><%= product.value %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= submit_tag "Elementos seleccionados", class: "btn btn-primary btn-lg btn-block container-fluid", 'data-toggle': "modal", 'data-target': "#modalProductos" %>
  <% end %>
    </div>
  </div>
</div>
  </div>
